header{background-color: #bbbbbb; 
	border: 2px dashed #32a1ce; 
	color:#222222; 
	text-align: center;}

header{background-color: #bbbbbb; 
	border: 2px dashed #32a1ce; 
	color:#222222; 
	text-align: center;}

body {background: #afb642;
margin: 0px}	